
.content{
  max-width: 500px;
  margin: auto;
  background-color: #d7b8b8;
  padding: 2% 2%;
}
button{
  background-color: rgb(44, 44, 13);

}
button:hover{
  color: #fff;
}
.error{
  color: red;
}

